Package: penguin-htdocs
Version: 0.1
Architecture: all
Description: Demo html documents for DevOps Taiwan x COSCUP 2017.
Maintainer: Chu-Siang Lai <chusiang@drx.tw>
Depends: nginx (>=1.4.6)
Replaces: nginx-common
