/* 
 * Dark style - like Tomorrow Night Eighties theme.
 */

@font-face {
  font-family: 'SourceCodePro';
  src: url('SourceCodePro-Medium.otf.woff2');
}

body {
  text-align: center; 
  font-family: SourceCodePro;
  background-color: #2d2d2d;
  color: #cccccc;
}

section {
  font-size: xx-large;
}

